body { 
    font: 14px helvetica neue, helvetica, arial, sans-serif;
  }
  
  #cy {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .legend-text {
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
  }

.nexus-destroyed {
    background-color:black;
}
.agent-destroys-top {
    background-color:#9B59B6;
}
.agent-destroys-bottom {
    background-color:#2980B9;
}
.enemy-lowest-nexus-top {
    background-color:#8E44AD;
}
.enemy-lowest-nexus-bottom {
    background-color:#3498DB;
}

.enemy-destroys-top {
    background-color:#F1C40F;
}
.enemy-destroys-bottom {
    background-color:#E67E22;
}
.agent-lowest-nexus-top {
    background-color:#F39C12;
}
.agent-lowest-nexus-bottom {
    background-color:#D35400;
}
  
